## Data import

In [ ]:
import pandas as pd
framingham = pd.read_csv('framingham.csv')
framingham.dropna(inplace=True)
framingham.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [ ]:
framingham['TenYearCHD'].value_counts()

0    3101
1     557
Name: TenYearCHD, dtype: int64

## Data split to train test and Random Forest Classifier

In [ ]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [ ]:
X = framingham.drop('TenYearCHD', axis=1)
y = framingham['TenYearCHD']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
oversample = RandomOverSampler(sampling_strategy='minority')

In [ ]:
X_over, y_over = oversample.fit_resample(X_train, y_train)

In [ ]:
rf = RandomForestClassifier()

In [ ]:
rf.fit(X_over, y_over)

RandomForestClassifier()

## Evaluate model performance on the test set

In [ ]:
preds = rf.predict(X_test)
print(accuracy_score(y_test, preds))

0.8524590163934426

## Model saving

In [ ]:
import joblib

In [ ]:
joblib.dump(rf, 'fhs_rf_model.pkl')

['fhs_rf_model.pkl']